*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.heading-3, .heading-2, .heading-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.heading-1 {
  font-size: 5rem;
}

.heading-2 {
  font-size: 4rem;
}

.heading-3 {
  font-size: 3rem;
}

.container {
  display: grid;
  grid-template-rows: [start-app-bar] 10vh [end-app-bar start-header] min-content [end-header] repeat(4, [main] 1fr [main-end]) [start-footer] 10vh [end-footer];
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
}

.main {
  grid-row: start-main/end-main;
  grid-column: 1/-1;
}

.btn {
  font-size: 1.4rem;
  font-weight: 500;
  outline: none;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #9c27b0;
  text-transform: uppercase;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.btn--cta {
  padding: 1rem 4rem;
}
.btn:hover, .btn:active {
  background-color: #d05ce3;
}
.btn--cta:hover, .btn--cta:active {
  background-color: #6d1b7b;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
}

.navbar__svg {
  width: 20rem;
  height: 100%;
}
.navbar__buttons {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-content: center;
  justify-content: center;
  column-gap: 2rem;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
}
.navbar__btn {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.navdrawer__toolbar {
  padding-left: 1rem;
}
.navdrawer__item {
  padding-left: 1rem;
}
.navdrawer__item--icon {
  padding-right: 1rem;
}
.navdrawer__content--header {
  padding-left: 1rem;
}

.lrmodal__errors {
  color: var(--ion-color-danger);
  font-size: 1.4rem;
}
.lrmodal__modal {
  z-index: 9999;
}
.lrmodal__header {
  text-align: center;
  padding-bottom: 2rem;
}
.lrmodal__title {
  text-shadow: 0 4rem 8rem rgba(156, 39, 176, 0.5);
}
.lrmodal__content--form {
  padding: 1rem;
}
.lrmodal__content--col {
  padding-top: 0.5rem;
}
.lrmodal__content--buttons {
  margin-top: 5rem;
}
.lrmodal__content--buttons > *:not(:first-child) {
  margin-left: 1rem;
}
.lrmodal__content--input:focus ~ .lrmodal__content--item {
  border: 1px solid #9c27b0;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(156, 39, 176, 0.55), rgba(109, 27, 123, 0.55)), url(../assets/hero.jpg);
  background-size: cover;
  background-position: top;
  padding: 8rem;
  margin-top: 6rem;
  align-items: center;
  justify-items: start;
  row-gap: 2rem;
  height: 65vh;
}
.header :first-child {
  margin-top: 4rem;
}
.header__title {
  text-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.header__subtitle {
  text-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.tournaments__row {
  position: relative;
  margin: 0 4rem;
}
.tournaments__card {
  display: grid;
  padding: 2rem 4rem;
  margin: 1rem;
  min-height: 40rem;
  z-index: 1;
}
.tournaments__card--content {
  padding: 0;
  padding-bottom: 1rem;
}
.tournaments__card--title {
  font-size: 1.8rem;
  padding: 1rem 0;
}
.tournaments__card--description {
  overflow: ellipsis;
  max-height: 10rem;
}
.tournaments__card--date {
  padding: 1rem 0;
  color: #9e9e9e;
}
.tournaments__back {
  position: absolute;
  left: 0;
  top: calc(50% - 3rem);
  z-index: 10;
}
.tournaments__back--icon {
  font-size: 6rem;
}
.tournaments__forward {
  position: absolute;
  right: 0;
  top: calc(50% - 3rem);
  z-index: 10;
}
.tournaments__forward--icon {
  font-size: 6rem;
}

.livestreams {
  padding: 4rem 6rem;
  text-align: center;
}
.livestreams__desc {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.livestreams__header {
  padding: 2rem;
  text-align: center;
}
.livestreams__title {
  color: #9c27b0;
}

.music__grid {
  padding: 2rem 4rem;
  text-align: start;
}
.music__title {
  margin-left: 2rem;
}
.music__subtitle {
  font-size: 1.8rem;
  margin-left: 2rem;
}
.music__song {
  margin: 2rem;
}

.homecta {
  padding: 4rem 6rem;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(156, 39, 176, 0.55), rgba(109, 27, 123, 0.55)), url(../assets/cool-background.png);
  background-size: cover;
}
.homecta__title {
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}
.homecta__subtitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 5rem;
  text-align: center;
}
.footer__logo {
  width: 7.5rem;
  height: 7.5rem;
}
.footer__title {
  position: relative;
}
.footer__title::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 150%;
  background-color: #fff;
  color: #fff;
  margin-left: -10rem;
}
.footer__links {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.footer__item {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}
.footer__link {
  text-decoration: none;
  color: #9e9e9e;
  font-size: 1.6rem;
}
.footer__misc {
  margin-top: 2rem;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
